/*
    Created on : 21 Aug, 2017, 3:36:59 PM
    Author     : yogesh
*/
.block-google-news-api {
  background: activecaption none repeat scroll 0 0;
}
.block-google-news-api  > h2 {
  font-size: 26px !important;
  font-weight: bold;
  text-align: center;
}
.top-google-news .news-title a {
  color: chocolate;
}
.top-google-news .news-title a:hover {
  color: #0071b3 !important;
}
.top-google-news .news-item {
  width: 100%;
  height: 210px;
}
.top-google-news .news-title {
  border-top: 1px solid #ccc;
  font-family: times new roman;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  padding: 10px;
  clear: both;
}
.top-google-news .news-image {
  padding-left: 10px;
}
.top-google-news .news-image > img {
  float: left;
}
.top-google-news  .news-description {
  float: left;
}
.top-google-news .news-publish {
  float: left;
  width: 60%;
  padding: 10px;
  font-family: arial;
}
.news-publish > span {
  font-style: italic;
  font-weight: bold;
}
.no-data {
  color: -moz-dragtargetzone;
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
  padding-bottom: 10px;
  text-align: center;
}
